html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: table;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
  z-index: -100;
}

/* header */

header {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  margin-top: 10%;
  text-align: center;
}

.view {
  opacity: 0.8;
}

.view:hover {
  opacity: 1;
}

.social {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 2;
}

/* footer */

footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 100%;
  opacity: 0.8;
  text-align: center;
  line-height: 20px;
}

footer p {
  display: inline;
}

footer img {
  vertical-align: middle;
  margin-right: 5px;
}

/* contents */

.contents {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

.contents.active {
  display: table;
}

.contents .nav a {
  position: absolute;
  width: 150px;
  height: 300px;
  top: 50%;
  margin-top: -150px;
  padding: 10px;
  opacity: 0.5;
}

.contents .nav a:hover {
  opacity: 1;
}

.contents .nav .prev {
  left: 0;
  text-align: left;
}

.contents .nav .next {
  right: 0;
  text-align: right;
}

.contents .nav img {
  margin-top: 90px;
}

.contents .viewport {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 0;
}

.contents article {
  display: none;
  margin: 0 10%;
}

.contents article.active {
  display: block;
}

.contents article .content {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.contents article img.content {
  width: 100%;
  cursor: -webkit-zoom-in;
}

.contents article .youtube.content {
  max-width: 100%;
  min-width: 600px;
}
