html, body {
  height: 100%;
}

body {
  font-size: 12px;
}

video {
  display: none;
}

@-webkit-keyframes header-animation {
  00.0% { background-image: url(../bg/bg1.jpg); }
  11.7% { background-image: url(../bg/bg1.jpg); }
  16.7% { background-image: url(../bg/bg2.jpg); }
  28.3% { background-image: url(../bg/bg2.jpg); }
  33.3% { background-image: url(../bg/bg3.jpg); }
  45.0% { background-image: url(../bg/bg3.jpg); }
  50.0% { background-image: url(../bg/bg4.jpg); }
  61.7% { background-image: url(../bg/bg4.jpg); }
  66.7% { background-image: url(../bg/bg5.jpg); }
  78.3% { background-image: url(../bg/bg5.jpg); }
  83.3% { background-image: url(../bg/bg6.jpg); }
  95.0% { background-image: url(../bg/bg6.jpg); }
  100.% { background-image: url(../bg/bg1.jpg); }
}

@-moz-keyframes header-animation {
  00.0% { background-image: url(../bg/bg1.jpg); }
  11.7% { background-image: url(../bg/bg1.jpg); }
  16.7% { background-image: url(../bg/bg2.jpg); }
  28.3% { background-image: url(../bg/bg2.jpg); }
  33.3% { background-image: url(../bg/bg3.jpg); }
  45.0% { background-image: url(../bg/bg3.jpg); }
  50.0% { background-image: url(../bg/bg4.jpg); }
  61.7% { background-image: url(../bg/bg4.jpg); }
  66.7% { background-image: url(../bg/bg5.jpg); }
  78.3% { background-image: url(../bg/bg5.jpg); }
  83.3% { background-image: url(../bg/bg6.jpg); }
  95.0% { background-image: url(../bg/bg6.jpg); }
  100.% { background-image: url(../bg/bg1.jpg); }
}

@keyframes header-animation {
  00.0% { background-image: url(../bg/bg1.jpg); }
  11.7% { background-image: url(../bg/bg1.jpg); }
  16.7% { background-image: url(../bg/bg2.jpg); }
  28.3% { background-image: url(../bg/bg2.jpg); }
  33.3% { background-image: url(../bg/bg3.jpg); }
  45.0% { background-image: url(../bg/bg3.jpg); }
  50.0% { background-image: url(../bg/bg4.jpg); }
  61.7% { background-image: url(../bg/bg4.jpg); }
  66.7% { background-image: url(../bg/bg5.jpg); }
  78.3% { background-image: url(../bg/bg5.jpg); }
  83.3% { background-image: url(../bg/bg6.jpg); }
  95.0% { background-image: url(../bg/bg6.jpg); }
  100.% { background-image: url(../bg/bg1.jpg); }
}

header {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url(../bg/bg1.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-animation: header-animation 30s ease-in-out infinite;
  -moz-animation: header-animation 30s ease-in-out infinite;
  animation: header-animation 30s ease-in-out infinite;
}

h1 {
  display: table-cell;
  vertical-align: middle;
}

h1 img {
  width: 80%;
  max-width: 500px;
}

.view {
  display: none;
}

.contents .nav {
  display: none;
}

.contents article {
  margin-top: 1px;
  line-height: 0;
}

.contents article > * {
  width: 100%;
}

.contents article img {
  width: 100%;
}

footer {
  width: 100%;
  opacity: 0.8;
  text-align: center;
  line-height: 20px;
  padding: 10px 0;
}

footer p {
  display: inline;
}

footer img {
  vertical-align: middle;
  margin-right: 5px;
}

.social {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 2;
}
